.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  text-align: center;
}

.menu-item-normal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  border-radius: 4px;
}

.menu-item-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(232, 232 ,232,0.8);
  padding: 5px 0;
  border-radius: 4px;
}


.menu-item-icon {
  width: 20px;
  height: 20px;
}

.menu-item-text {
  font-size: 10px;
  color: #1b58f4;
}

.menu-item-text-active {
  font-size: 10px;
  color: #1b58f4;
}

a:hover {
  text-decoration: none !important;
}

.menu-set {
  &:hover {
    &::before {
      color: #000; 
    }
  }
  &::before {
    font-size: 30px !important;
    color: #ccc; 
    
  }
}
