body {
  margin: 0;
}
.next-btn.next-btn-normal {
  background: transparent !important;
}

/* .next-btn-primary {
  background-image: linear-gradient(234deg, rgba(0, 0, 239, 0.10) 0%, #0000EF 100%);
  border-radius: 4px !important;
  color: #fff;
}
.next-btn-primary.disabled, .next-btn-primary[disabled] {
  cursor: not-allowed;
  background-image: none;
  background-color: #F7F8FA !important;
  border-color: #E6E7EB;
} */