.publish-footer {
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  margin-left: 60px;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  .publish-btn {
    height: 36px;
    background: #E5E5E5;
    border-radius: 4px;
    background-color: #E5E5E5;
  }

  .publish-btn.active {
    background-image: linear-gradient(234deg, rgba(0, 0, 239, 0.10) 0%, #0000EF 100%);
  }
  .switch-button {
    margin-left: 36px;
  }
  .switch-word {
    margin-left: 13px;
  }
}

.publish-container {
  margin: 0 auto;
  .next-col-fixed-5 {
    flex: 1 1 !important;
  }

  .next-icon.next-medium:before {
    font-size: 12px;
  }

  .next-input.next-medium {
    border-radius: 0;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .next-select {
    .next-input.next-medium {
      border-radius: 3px;
      border: 1px solid #C4C6CF;
    }
  }

  .next-medium .next-form-item-label {
    label {
      word-break: break-all;
    }
  }
  .params-type-container {
    position: relative;
  }
  .struct-container-panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    .toggle-open {
      cursor: pointer;
      color: #0000EF;
      width: 40px;
      background-color: #fff;
      text-decoration: underline;
      position: absolute;
      left: 50%;
      margin-left: -20px;
      top: -5px;
      text-align: center;
    }
  }

  .struct-container {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    .remove-icon {
      right: -50px;
    }
  }

  .enum-container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px dotted #ccc;
    margin-bottom: 10px;
    width: fit-content;
    .remove-icon {
      right: -50px;
      top: 10px;
    }
  }

  .remove-icon {
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: 5px;
    .next-icon-ashbin {
      &::before {
        color: red
      }
    }
  }

}

.publish-title {
  display: flex;
  height: 48px;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 24px;
}

.publish-input-desc {
  height: 18px;
  font-family: PingFangSC-Regular;
  font-size: 10px;

  letter-spacing: 0;
  line-height: 18px;
}

.base-exit-format {
  margin-bottom: 60px;
}

.struct-desc {
  height: 18px;
  width: 300px;
  font-family: PingFangSC-Regular;
  font-size: 10px;
  color: #a6a6a6;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 30px !important;
}

.struct-form-publish {
  margin-bottom: 30px !important;
}

.base-exit {
  margin-bottom: 100px !important;
}

.struct-input {
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #a6a6a6 !important;
  width: 200px !important;
  margin-right: 20px;
  margin-top: 30px;
  border-radius: 0 !important;
}

.publish-data-part {
  display: flex;
  flex-direction: row;
  .edit-form-container {
    position: relative;
    .next-col-18 {
      flex: 1 1 !important;
      width: auto;
      max-width: auto;
    }

  }
  &.full-screen-view {
    .left-part {
      width: 100%;
    }
    .right-part {
      visibility: hidden;
      width: 0;
    }
  }
  .left-part {
    visibility: visible;
    position: relative;
    flex: 1 0 60%;
    .form-pannel {
      background-color: #eee;
      width: fit-content;
      min-width: 320px;
      margin: 0 auto;
    }
    .option-icon {
      position: absolute;
      z-index: 2;
      cursor: pointer;
      right: 20px;
      top: 10px;
      width: 20px;
      height: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      .tip {
        width: 120px;
        position: absolute;
        right: 19px;
        top: 4px;
        display: none;
      }

      &:hover {
        opacity: .7;
        .tip {
          display: block;
        }
      }
    }
    .full-screen-icon {
      // background-image: url('../../assets/square_full.svg');
    }
    .split-screen-icon {
      // background-image: url('../../assets/square_split.svg');
    }
  }

  .right-part {
    width: 40%;
    background-color: #1e1e1e;
    padding-top: 12px;
    overflow: hidden;
  }

  background-color: #fff;

}
.publish-form-group {
  width: fit-content;
  display: flex;
  border: 1px dashed #ccc;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
}
.config-render {
  margin-bottom: 32px;

}